@import '../../sass/abstracts/mixins';

.addToCartSlider_container {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: green;
    position: fixed;
    margin-left: 70%;
    top: 5rem;
    z-index: -1;
    transition: display 2s ease;
    padding-top: 5rem;
    padding-bottom: 3rem;
    overflow : scroll;
    
    &--true {
        display: block;
    }

    &--false {
        display: none;
    }


    @include responsive(phone) {
        width: 100%;
        margin: 0;

      }

.addToCartSlider_content {
    margin-bottom: 6rem;
    width: 100%;


    }
}