@import ".././../sass/abstracts/mixins";

.homepage_container {

  height:100%;
    
        & .banner_container {
            height: 50rem;
            width: 100%;

            @include responsive(tab-port) { 
                height: 35rem;
              }
        }

        & .promotions_container {
          display: flex;
          width: 100%;
          height: auto;
          margin-top: 10rem;
          padding: 2rem;
          justify-content: space-between;


          & .promotion_slot {

            width: 22%;
            height: 27rem;

            & .promotion_title{
              text-align: center;
            }

          }

          

        }


}