.checkout_page_container {
    padding-top: 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    

    form {

        width: 30%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    
        & * {
            width: 100%;
        }

    }
 
 }