.checkout_page_container {
    height: 100%;
    width: 70rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    form {
        width: 70%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    }
 }